.service {
  display: grid;
  justify-items: center;
  align-items: start;
  height: 350px;

  &__heading {
    text-align: center;
    font-size: 1.5rem;
    color: black;
    font-weight: 400;
  }
}
