.heroContainer {
  grid-column: full-start / full-end;

  .heroItem {
    background: lightgrey;
    height: 50vh;
    .heroImage {
      filter: brightness(65%);
      height: 100%;
    }
    .heroText {
      color: white;
      background-color: rgba(255, 255, 255, 0.2);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 60%;
      border-radius: 10px;
      .name {
        color: #75057f;
      }
    }
  }
}
