.contactForm {
  grid-column: col-start 1 / col-end 4;
  display: grid;
  justify-items: center;
  padding: 2rem;

  &__heading {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.5rem;
    justify-self: center;
    border-bottom: 2px blueviolet solid;
  }
  form {
    display: flex;
    flex-direction: column;
    width: 80%;
    textarea {
      resize: none;
    }
    button {
      border: none;
      background: lightblue;
    }
  }
  form > * {
    padding: 0.5rem;
    margin-top: 1rem;
    font-size: 1rem;
  }
}
