.dropdownMenu {
  background: rgb(233, 233, 233);
  color: black;
  position: absolute;
  top: 32px;
  list-style: none;
  text-align: start;
  z-index: 10;
  border-radius: 0px 0px 5px 5px;
  li {
    padding: 1rem;
    cursor: pointer;
    &:hover {
      background: #700e79;
      transition: 0.3s;
      color: rgb(255, 255, 255);
    }
  }
}

@media (max-width: 900px) {
  .dropdownMenu {
    display: block;
    position: relative;
  }
}
