.servicesContainer {
  display: grid;
  grid-template-columns:
    [full-start] 1fr [center-start] repeat(
      8,
      [col-start] minmax(min-content, 9rem) [col-end]
    )
    [center-end] 1fr [full-end];

  grid-template-rows: auto auto;

  padding: 2rem;

  .servicesHeading {
    grid-column: col-start 3 / col-end 8;
    font-weight: 400;
    font-size: 1.5rem;
    border-bottom: 2px blueviolet solid;
  }

  .servicesMenuContainer {
    display: none;
  }

  .servicesTabsContainer {
    grid-column: col-start 1 / col-end 2;
    grid-template-rows: auto;

    .serviceTabs {
      list-style: none;
      margin-right: 1rem;

      .serviceTab {
        background-color: lightgrey;
        font-size: 1.1rem;
        padding: 0rem 1rem;
        border-left: 5px solid #bd09cf;
        margin-bottom: 5px;
      }
    }
  }

  .servicesDetails {
    grid-column: col-start 3 / col-end 8;
    margin-top: 1rem;
    font-size: 1.2rem;
  }
}

@media (max-width: 900px) {
  .servicesContainer {
    .servicesHeading {
      grid-column: col-start 1 / col-end 8;
      font-weight: 500;
      font-size: 1.5rem;
    }

    .servicesMenuContainer {
      display: block;
      grid-column: col-start 1 / col-end 8;
      .servicesMenu {
        margin-bottom: 2vh;
        width: 50vw;
        font-size: 1.2rem;
      }
    }
    .servicesTabsContainer {
      display: none;
    }
    .servicesDetails {
      grid-column: col-start 1 / col-end 8;
    }
  }
}
